* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #f1f1f1;
    font-family: Arial;
    margin: 0;
}
p {
  font-size: larger;
  font-weight: bold;
}
.navbar{
  font-size: 25px;
  font-family: sans-serif;
  background-color: #1abc9c;
  color: white;
}

.text_box {
  padding: 30px;
  width: 50%;
  height: 100%;
  border: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#container {
  width: 100%;
  height: 70%;
  background-color: white;
  display: flex;
  margin: 0 auto;
}

.center_buttons {
  margin: auto;
  display: block;
}
.footer {
  padding: 8px;
  background: #333;
  color: white;
}
